.container2  {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.container3 {
    background-color: #ffffff;

}
.cancel{
    text-align: center;
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
    font-size: 10px;
}

h1 {
    text-align: center;
    color: #34495e;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

.form-groups {
    margin: 20px 0;
}

.form-groups label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-groups input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}