{% include 'header.html' %}
{% load static %}

<head>

    <title>Spare Parts Inventory</title>
    <link rel="stylesheet" href="{% static 'css/spare.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <div class="container3">
        <h2 class="text-center">Category Inventory</h2>
        <table class="text-sm table">
            <thead>
                <tr>
                    <th>Excavator Name</th>
                    <th>Company</th>
                    <th>Category</th>
                    <th>location</th>
                    <th>payment mode</th>
                    <th>Price</th>
                    <th>Availability</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for categorie in categories %}
                <tr>
                    <td>{{ categorie.excavator_name }}</td>
                    <td>{{ categorie.company_name }}</td>
                    <td>{{ categorie.category }}</td>
                    <td>{{ categorie.location }}</td>
                    <td>{{ categorie.payment_mode }}</td>
                    <td>{{ categorie.price }}</td>
                    <td>{{ categorie.Availability }}</td>
                    <!-- <td>{{ categorie.image}}</td> -->
                    <td>
                        {% if categorie.image %}
                        <img src="{{ categorie.image.url }}" alt="{{ categorie.name }}" style="width: 100px; height: auto;">
                        {% else %}
                        No image available
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'update_exca' categorie.id %}" class="btn">Update</a>
                        <a href="{% url 'cate_delete' categorie.id %}" class="btn">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        
    </body>

 {% include 'footer.html' %}