{% include 'header.html' %}
{% load static %}


<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Login Form</title> 
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/> 
    </head>
    <body class="background"> 

        <div class="login-container"> 
            <h2 style=" text-align: center;"> Sign-In</h2>
            <form class="login-form"  method="post"> 
                    {% csrf_token %}
                    {{ form.as_p }} 
                    <br>
                <a href="/reset_password" id="forgot-password" >Forgot Password?</a>
                <button type="submit" class="bubbb" >Login</button> <br>
                <p class="text-center mt-4">
                    <a href="/register"> Don't have an Account?</a>
                </p>
            </form>   
        </div>
    </body>
</html> 

{% include 'footer.html' %}


