
{% include 'header.html' %}
{% load static %}


<!DOCTYPE html> 
<html lang="en"> 
  <head> 
      <meta charset="UTF-8"> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
      <title>reset Form</title> 
      <link rel="stylesheet" href="{% static 'css/style.css' %}"/> 
      <link rel="stylesheet" href="{% static 'css/profile.css' %}"> 
  </head>
  <body>
    <div class="register-container"> 
      <h1><i class="fas fa-key"></i> Change Password</a></h1>
        <form class="form-group" method="post">
          {% csrf_token %}
          {{ form.as_p }} <br>
          <button type="submit">Change password</button>
        </form>
    </div>
  </body>
</html>


{% include 'footer.html' %}


  

            