{% include 'header.html' %}
{% load static %}
{% block content %}


<head>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<h2>Rate Booking</h2>
<p><strong>Booking ID:</strong> {{ booking.id }}</p>

<!-- <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-submit">Submit Rating</button>
</form> -->


<form method="post">
    {% csrf_token %}
    <div class="rating-form">
        <p>Please rate the driver:</p>
        <div class="star-rating">
            <!-- Star Rating Options -->
            <input type="radio" id="star5" name="rating" value="5">
            <label for="star5" title="5 stars" class="fa fa-star"></label>

            <input type="radio" id="star4" name="rating" value="4">
            <label for="star4" title="4 stars" class="fa fa-star"></label>

            <input type="radio" id="star3" name="rating" value="3">
            <label for="star3" title="3 stars" class="fa fa-star"></label>

            <input type="radio" id="star2" name="rating" value="2">
            <label for="star2" title="2 stars" class="fa fa-star"></label>

            <input type="radio" id="star1" name="rating" value="1">
            <label for="star1" title="1 star" class="fa fa-star"></label>
        </div>
        
        <!-- Submit Button -->
        <button type="submit" class="btn btn-submit">Submit Rating</button>
    </div>
</form>
{% endblock %}

{% include 'footer.html' %}
