{% load static %}

{% include 'header.html'%}

<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Register Form</title> 
        <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
        <script src="../static/fonts/script.js" defer></script>
    </head>
    <body class="background" >
        <!-- <div>
            <img src="https://cdn.dribbble.com/users/3728105/screenshots/14198904/media/8a1afd8f6e48c7d52b494a074c96e1de.gif" alt="" height="120" width="200">
        </div>  -->
        <div style="height: 900px;">
                <div class="register-container"> 
                    <form class="Reg-form" action= "/register" method="POST" enctype="multipart/form-data" onsubmit="return validatePassword()"> 
                      <h2>Register</h2>
                        <p style=" margin-left: 30%;"> Create an account Here</p> 
                            {% csrf_token %}
                            {{ form.as_p }}
                        <br>
                        <button class="bubbb" type="submit">Register</button> <br>
                        <p style=" margin-left: 20%;"> Already have an account <a href="/login"> Login </a> here</p>
                    </form>
                </div>
        </div>
    </body>
</html> 
{% include 'footer.html' %}

